<div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="end center" class="full-width">
  <!--  <div class="exit" (click)="exit()">-->
  <!--    <mat-icon color="warn">chevron_left</mat-icon>-->
  <!--    <span>All Courses</span>-->
  <!--  </div>-->
  <div fxFlex></div>
  <button mat-button routerLink="/" class="nav">Home</button>
  <button mat-button routerLink="/courses" class="nav">Courses</button>
  <div *ngIf="auth.user | async as user; else showLogin">
    <div class="context-menu user">
      <!--      -->
      <button mat-icon-button [matMenuTriggerFor]="account" aria-label="context menu">
        <div *ngIf="user.photoURL" class="avatar" [ngStyle]="{'background-image': 'url(' + user.photoURL + ')'}"
             #tooltip="matTooltip" matTooltip="Hi {{user.displayName}}"
             matTooltipPosition="below" matTooltipHideDelay="200" matTooltipClass="primary-tooltip"></div>
        <mat-icon *ngIf="!user.photoURL" class="bigger" [color]="color" #tooltip="matTooltip"
                  matTooltip="Hi {{user.displayName}}"
                  matTooltipPosition="below" matTooltipHideDelay="200" matTooltipClass="primary-tooltip">
          account_circle
        </mat-icon>
      </button>
      <mat-menu #account="matMenu" class="menu">
        <div class="hello mat-caption"></div>
        <button mat-menu-item *ngFor="let option of profile" (click)="openDialog(option.label, user.uid)">
          <mat-icon>{{option.icon}}</mat-icon>
          <span>{{option.label}}</span>
        </button>
      </mat-menu>
    </div>
  </div>
  <ng-template #showLogin>
    <button mat-icon-button (click)="openDialog('login')">
      <mat-icon>account_circle</mat-icon>
    </button>
  </ng-template>
  <button mat-icon-button (click)="openDialog('notifications')">
    <mat-icon>notifications</mat-icon>
  </button>

  <div class="context-menu">
    <button mat-icon-button [matMenuTriggerFor]="apps">
      <mat-icon class="bigger" [color]="color" #tooltip="matTooltip" matTooltip="WTF apps" matTooltipPosition="below"
                matTooltipHideDelay="200" matTooltipClass="primary-tooltip">apps
      </mat-icon>
    </button>
    <mat-menu #apps="matMenu">
      <div class="products" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-evenly start">
        <div *ngFor="let product of products" class="product" fxFlex="27" fxLayout="row wrap" fxLayoutAlign="space-between center">
          <mat-icon fxFlex="100">{{product.icon}}</mat-icon>
          <span fxFlex="100">{{product.label | uppercase}}</span>
        </div>
        <div fxFlex="30"></div> <!-- hacky way to fill the gap -->
      </div>
    </mat-menu>
  </div>
  <div fxFlex="2"></div>
</div>
