@use "src/flex" as flex;

.header {
  @include flex.container(100%, flex-end, center);
  //fxFlex="100" fxLayout="row wrap" fxLayoutAlign="end center"
  .nav {
    font-size: 0.8em;
  }

}

.inverse {
  background-color: var(--color-primary-dark);
  transition: background-color 200ms linear;
  color: var(--color-primary-light);
}
.primary-tooltip {
  color: var(--color-primary-light);
  background: var(--color-primary-dark);
}

.user {
  padding-top: 0.1em;
}
.context-menu {
  text-align: end;
  margin-left: 0.4em;
  .avatar {
    background-size: cover;
    height: calc(var(--space-md) + var(--space-xxxs));
    width: calc(var(--space-md) + var(--space-xxxs));
    border-radius: 50%;
    margin: var(--space-xxs) auto;
  }
}
.products{
  @include flex.container(100%, space-evenly, flex-start);
  text-align: center;
  font-size: small;
  overflow: hidden; /* Hide scrollbars */
  .product {
    @include flex.container(27%, space-between, center);
    height: var(--space-xxl);
    border-radius: var(--space-xxs);
    margin: var(--space-sm) 0;
    padding: var(--space-xs);
    .mat-icon {
      @include flex.width(100%);
      scale: 1.5;
    }
    span {
      @include flex.width(100%);
      position: relative;
      top: var(--space-xs);
    }
  }
}

.product:hover {
  background-color: var(--color-aquamarine-background);
  cursor: pointer;
}

.mobile {
  position: fixed;
  bottom: 0;
}

button {
  color: var(--color-primary);
  font-weight: 700;
}

//mat-icon {
//  color: var(--color-primary) !important;
//}

.bigger {
  transform: scale(1.2);
}

