<div fxFlex.gt-lg="65" fxFlex.lg="80" fxFlex.md="90" fxFlex.sm="95" fxFlex.lt-sm="100"
     fxLayout="row wrap" fxLayoutAlign="space-around start" class="content">
  <div [@flip]="flipState" class="flip-card-inner" fxFlex="23" fxFlex.md="31" fxFlex.sm="47" fxFlex.lt-sm="100">
    <div class="flip-card-front" *ngIf="!lessons"> <!-- This is the side with buttons and controls -->

      <mat-card *ngFor="let course of courses">
        <div mat-card-image [ngStyle]="{'background-image': 'url(' + (course.image | storageUrl | async) + ')'}"></div>
        <mat-card-header>
          <div mat-card-avatar></div>
          <mat-card-title>{{course.name}}</mat-card-title>
          <mat-card-subtitle>{{Levels[course.level]}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{course.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="navigate('courses', course.id)">{{action}}</button>
          <button mat-button (click)="flip(course.id)">Overview</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="flip-card-back">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar></div>
          <mat-card-title>Lessons</mat-card-title>
          <mat-card-subtitle *ngIf="lessons">progress: ---</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let lesson of lessons" (click)="navigate('lessons',  lesson.id)">
              <mat-icon mat-list-icon>chevron_right</mat-icon>
              <div mat-line class="name">{{lesson.name}}</div>
              <div mat-line class="description">{{lesson.description}}</div>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="flip()">Back</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <mat-card fxFlex="23" fxFlex.md="31" fxFlex.sm="47" fxFlex.lt-sm="100">
    <div mat-card-image [ngStyle]="{'background-image': 'url(' + (avatar | storageUrl | async) + ')'}"
         class="image"></div>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>hi</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        description
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Start</button>
      <button mat-button>DETAILS</button>
    </mat-card-actions>
  </mat-card>
  <mat-card fxFlex="23" fxFlex.md="31" fxFlex.sm="47" fxFlex.lt-sm="100">
    <div mat-card-image [ngStyle]="{'background-image': 'url(' + (avatar | storageUrl | async) + ')'}"
         class="image"></div>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>hi</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        description
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Start</button>
      <button mat-button>DETAILS</button>
    </mat-card-actions>
  </mat-card>
  <mat-card fxFlex="23" fxFlex.md="31" fxFlex.sm="47" fxFlex.lt-sm="100">
    <div mat-card-image [ngStyle]="{'background-image': 'url(' + (avatar | storageUrl | async) + ')'}"
         class="image"></div>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>hi</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        description
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Start</button>
      <button mat-button>DETAILS</button>
    </mat-card-actions>
  </mat-card>
</div>
