.content {
  margin: 0 auto;
  .flip-card-inner {
    transform-style: preserve-3d;
  }

  .flip-card-inner > div {
    position: absolute;
    width: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }


  .flip-card-front { }

  .flip-card-back {
    transform: rotateY(180deg);
  }

  .mat-card {
    margin-bottom: var(--space-xxl);
    @media screen and (max-width: 600px) {
      margin-bottom: var(--space-lg);
    }
    @media screen and (min-width: 601px) and (max-width: 1280px) {
      margin-bottom: var(--space-xl);
    }
    .mat-card-avatar {
      background: url("../../../assets/images/logo.png") no-repeat center center;
      background-size: contain;
      border: 1px dashed;
    }
    .mat-card-image {
      min-height: 7em;
      @media screen and (max-width: 600px) {
        min-height: 10em;
      }
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    .mat-card-header {
      font-family: 'Titillium Web', sans-serif;
      .mat-card-title {
        font-weight: 700;
        font-size: 1em;
        margin-bottom: var(--space-xxs);
        color: var(--color-grey4);
      }
      .mat-card-subtitle {
        font-weight: 400;
        font-size: 0.8em;
        letter-spacing: var(--space-xxs);
        color: var(--color-grey9);
      }
    }
    .mat-card-content {
      font-family: 'Titillium Web', sans-serif;
      color: var(--color-grey7);
    }
  }

  .mat-list-item {
    font-family: 'Titillium Web', sans-serif;
    .name {
      color: var(--color-grey3);
    }
    .description {
      color: var(--color-grey8);
      font-size: 0.6em;
    }
  }
  .mat-list-item:hover {
    background-color: var(--color-greye);
    cursor: pointer;
  }

  ::ng-deep .mat-list-item-content,  ::ng-deep .mat-list-text {
    padding: 0 !important;
  }
}
