<div fxLayout="row wrap" fxFlex="100">
  <ng-container [ngSwitch]="slide.content.position">
    <div *ngSwitchCase="position.Top" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between center">
      <div fxFlex="100" class="image landscape"
           [style.background-image]="'url('+(slide.content.image|storageUrl|async)+')'"
           [style.margin-bottom]="'var(--space-md)'"></div>
      <p fxFlex="100" class="mat-body-2"
         appTypeInRenderer [scenario]="slide.content.scenario" [position]="slide.content.position"></p>
    </div>
    <div *ngSwitchCase="position.Bottom" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between center">
      <p fxFlex="100" class="mat-body-2"
         appTypeInRenderer [scenario]="slide.content.scenario" [position]="slide.content.position"></p>
      <div fxFlex="100" class="image landscape" [style.background-image]="'url('+(slide.content.image|storageUrl|async)+')'"
           [style.margin-top]="'var(--space-md)'"></div>
    </div>
    <div *ngSwitchCase="position.Right" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between center">
      <p fxFlex="65" class="mat-body-2"
         appTypeInRenderer [scenario]="slide.content.scenario" [position]="slide.content.position"></p>
      <div fxFlex="30" class="image portrait" [style.background-image]="'url('+(slide.content.image|storageUrl|async)+')'"></div>
    </div>
    <div *ngSwitchCase="position.Left" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between center">
      <div fxFlex="30" class="image portrait" [style.background-image]="'url('+(slide.content.image|storageUrl|async)+')'"></div>
      <p fxFlex="65" class="mat-body-2"
         appTypeInRenderer [scenario]="slide.content.scenario" [position]="slide.content.position"></p>
    </div>
  </ng-container>

<!--  <div class="ghost-input" [formGroup]="form" #blank_div>-->
<!--    <input formControlName="blank_field" id="input_field" #blank_field>-->
<!--  </div>-->
</div>
