.success {
  .heading {
    font-weight: 100;
  }
  ul li {
    font-weight: 700;
    color: var(--color-primary)
  }

  .action {
    text-align: center;
  }

  .mat-divider {
    margin: var(--space-md) 0;
  }
}

