<div class="slide">
  <div class="scenario centered mat-body-2"> {{slide.content['scenario']}} </div>
  <div>
  <div class="cards" appCardRenderer #cards [cards]="slide.content['cards']" *ngIf="!isCompleted"></div>
  <div class="all-done" *ngIf="isCompleted">All Done!</div>
  </div>
  <div class="options space" *ngIf="!isCompleted">
    <div class="double-columns swipe-button" (click)="check(slide.content['swipe_left'])">
      <mat-icon>keyboard_double_arrow_left</mat-icon>
      <span>{{slide.content['swipe_left']}}</span>
    </div>
    <div class="double-columns swipe-button" (click)="check(slide.content['swipe_right'])">
      <span>{{slide.content['swipe_right']}}</span>
      <mat-icon>keyboard_double_arrow_right</mat-icon>
    </div>
  </div>
</div>
