@mixin background() {
  background-repeat: no-repeat;
  background-position: center;
}
.content {
  .hero {
    margin: 0 auto;
    .heading {
      font-weight: 100;
      line-height: 1.1em;
      text-align: end;
      @media screen and (max-width: 960px) {
        text-align: center;
        margin: 1em 0;
      }
    }

    .banner {
      height: 45vh;
      @media screen and (min-width: 600px) and (max-width: 960px) {
        height: 55vh;
      }
      @media screen and (max-width: 599px) {
        height: 50vh;
      }
      @include background();
      background-image: url("~src/assets/images/banner.webp");
      background-size: cover;
    }
  }
  .bullets {
    margin: 0 auto;
    padding: var(--space-md) 0;
    text-align: center;
    background-color: var(--color-primary-dark);
    color: var(--color-primary-light);
    .bullet {
      margin: var(--space-md);
      @media screen and (max-width: 960px) {
        margin: var(--space-xl);
      }
    }
  }
  .course {
    .latest{
      min-height: 10em;
      .image {
        @include background();
        background-size: contain;
        height: 45vh;
        @media screen and (min-width: 600px) and (max-width: 960px) {
          height: 55vh;
        }
        @media screen and (max-width: 599px) {
          height: 50vh;
        }
      }
      .action {
        min-height: var(--space-lg);
        width: 7em;
      }
      p {
        padding: var(--space-md);
        @media screen and (max-width: 599px) {
          text-align: center;
        }
      }
    }
  }
  .stream {
    background-color: var(--color-grey8);
  }
}
