<div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around start" class="content">
  <div fxFlex.gt-lg="65" fxFlex="80" fxFlex.lt-md="100" fxLayout="row wrap" fxLayoutAlign="space-between center"
       class="hero">
    <div fxFlex="35" fxFlex.lt-md="100" fxLayout="row wrap" fxLayoutAlign="space-around center">
      <div fxFlex="95" class="heading" ngClass.gt-md="mat-display-2" ngClass.md="mat-display-1"
           ngClass.lt-md="mat-title"
           appBlackRenderer [content]="content" [keyword]="keyword">
      </div>
    </div>
    <div fxFlex="60" fxFlex.lt-md="100" class="banner"></div>
  </div>
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around start" class="bullets">
    <div *ngFor="let bullet of bullets" fxFlex="20" fxFlex.lt-md="90" fxFlex.md="40" class="bullet">
      <div class="mat-title">{{bullet.title}}</div>
      <div class="mat-body-1">{{bullet.description}}</div>
    </div>
  </div>
  <div fxFlex.gt-lg="65" fxFlex="80" fxFlex.lt-md="100" fxLayout="row wrap" fxLayoutAlign="space-between start"
       class="course">
    <div fxFlex="70" fxFlex.lt-md="100" fxLayout="row wrap" fxLayoutAlign="space-between start" class="latest">
      <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between end" *ngIf="course; else loading">
        <div fxFlex="60" fxFlex.lt-md="100" class="image"
             [ngStyle]="{'background-image': 'url(' + (course.image | storageUrl | async) + ')'}"></div>
        <div fxFlex="35" fxFlex.lt-md="100" fxLayout="row wrap" fxLayoutAlign="space-around center">
          <div class="mat-subheading-1">{{course.name}}</div>
          <button fxFlex="90" color="primary" mat-raised-button [routerLink]="['courses', course.id]" class="action">
            Start Here
          </button>
        </div>
        <p fxFlex="100">{{course.description}}</p>

      </div>
      <ng-template #loading>
        <mat-spinner></mat-spinner>
      </ng-template>
    </div>
  </div>
  <div fxFlex.gt-lg="65" fxFlex="80" fxFlex.lt-md="100" fxLayout="row wrap" fxLayoutAlign="space-between start" class="stream">
    wud up?
  </div>
</div>
