<div class="landing">
  <div class="hero">
    <div class="left-pane">
      <div class="heading" appBlackRenderer [content]="landing.heading.content" [keyword]="landing.heading.keyword"></div>
      <div class="subheading" >{{landing.subheading}}</div>
      <div class="mat-caption caption">
        PLAY<mat-icon>circle</mat-icon>LEARN<mat-icon>circle</mat-icon>EARN
      </div>
    </div>
    <div class="right-pane"></div>
  </div>
  <div class="description">
    <span class="mat-caption" *ngFor="let phrase of landing.description"
          appBlackRenderer [content]="phrase.content" [keyword]="phrase.keyword"></span>
  </div>
  <div class="bullets">
    <div *ngFor="let bullet of landing.bullets" class="bullet">
      <div class="icon" [ngStyle]="{'background-image': 'url(assets/images/' + bullet.icon + ')'}"></div>
      <div class="mat-caption text">{{bullet.description}}</div>
    </div>
  </div>
  <div class="courses">
    <div *ngIf="course; else loading" class="latest">
      <div class="image" [ngStyle]="{'background-image': 'url(' + (course.banner | storageUrl | async) + ')'}"></div>
      <div class="text">
        <div class="mat-title course-title" appBlackRenderer [content]="course.name" [keyword]="course.tags[0]"></div>
        <markdown emoji ngPreserveWhitespaces [data]="course.description"></markdown>
      </div>

      <div class="extra mat-caption">
        <span class="label">level:</span><span class="level">{{levels[course.level]}}</span>
        <span class="label">keywords:</span><span class="tag" *ngFor="let tag of course.tags">{{tag}}</span>
      </div>
      <div class="action">
        <button color="primary" mat-raised-button [routerLink]="['courses', course.id]">Start Here</button>
      </div>
    </div>
    <ng-template #loading>
      <mat-spinner></mat-spinner>
    </ng-template>
    <mat-divider class="hide"></mat-divider>
    <div class="stream">
      <div *ngFor="let event of stream | async; let i = index">
        <div *ngIf="i==0; else others" class="event mat-caption" [@fadeInOut]="'fadeIn'">
          <span class="who">{{event.who}}</span>
          <span class="act">{{events[event.type].label}}</span>
          <mat-icon>{{events[event.type].icon}}</mat-icon>
          <div class="when">{{howLongAgo(event.created_at)}}</div>
        </div>
        <ng-template #others>
          <div class="event mat-caption" [@slideDown] [@fadeInOut]="i === 14 ? 'fadeOut': ''">
            <span class="who">{{event.who}}</span>
            <span class="act">{{events[event.type].label}}</span>
            <mat-icon>{{events[event.type].icon}}</mat-icon>
            <div class="when">{{howLongAgo(event.created_at)}}</div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
