@mixin background() {
  background-repeat: no-repeat;
  background-position: center;
}
.landing {
  .hero {
    margin: 0 auto;
    text-align: end;
    @media screen and (max-width: 960px) {
      text-align: center;
      margin: var(--space-xl) 0;
    }
    .heading {
      font-weight: 100;
      line-height: 1.1em;
    }
    .caption {
      letter-spacing: var(--space-xxs);
      color: var(--color-grey7);
      margin-bottom: var(--space-xl);
      @media screen and (min-width: 960px) and (max-width: 1279px) {
        font-size: 16px;
      }
      @media screen and (min-width: 1280px) and (max-width: 1439px) {
        font-size: 18px;
      }
      @media screen and (min-width: 1440px) {
        font-size: 20px;
      }
    }

    .banner {
      height: 50vh;
      @media screen and (min-width: 600px) and (max-width: 960px) {
        height: 55vw;
      }
      @media screen and (max-width: 599px) {
        height: 65vw;
      }
      @include background();
      background-image: url("~src/assets/images/banner-transparent.png");
      background-size: contain;
    }
  }
  .description {
    text-align: center;
    padding: var(--space-sm) var(--space-lg);
    background-color: var(--color-grey1);
    color: var(--color-grey7);
    span {
      margin: 0;
      font-size: large;
      letter-spacing: var(--space-xxxs);
    }
  }
  .bullets {
    margin: 0 auto;
    padding: var(--space-md) 0;
    text-align: center;
    background-color: var(--color-primary-dark);
    .bullet {
      padding: var(--space-md);
      opacity: 0.7;
      transition: 0.2s;
      @media screen and (max-width: 960px) {
        margin: var(--space-lg);
      }
      .icon {
        @include background();
        background-size: contain;
        height: var(--space-xxl);
      }
      .text {
        margin-top: var(--space-xs);
        font-weight: 400;
        font-size: large;
        color: var(--color-aquamarine-background);

      }
    }
    .bullet:hover {
      opacity: 1;
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
  .courses {
    margin: var(--space-xl) 0;
    .latest{
      min-height: 10em;
      .image {
        @include background();
        background-size: contain;
        height: 40vh;
        @media screen and (min-width: 600px) and (max-width: 960px) {
          height: 55vh;
        }
        @media screen and (max-width: 599px) {
          height: 50vh;
        }
      }

      .text {
        .course-title {font-weight: 100;}
        p { margin: var(--space-lg) 0; }

        @media screen and (max-width: 959px) {
          text-align: center;
          padding: var(--space-lg);
        }

        .action {
          min-height: var(--space-lg);
          width: 7em;
        }
      }
    }
    .stream {
      background-color: var(--color-grey8);
    }
  }
}
