@mixin background() {
  background-repeat: no-repeat;
  background-position: center;
}
.content {
  .hero {
    margin: 0 auto;
    text-align: end;
    @media screen and (max-width: 960px) {
      text-align: center;
      margin: 1em 0;
    }
    .heading {
      font-weight: 100;
      line-height: 1.1em;
    }
    .caption {
      letter-spacing: var(--space-xxs);
      color: var(--color-grey7);
      margin-bottom: var(--space-xl);
      @media screen and (min-width: 960px) and (max-width: 1279px) {
        font-size: 16px;
      }
      @media screen and (min-width: 1280px) and (max-width: 1439px) {
        font-size: 18px;
      }
      @media screen and (min-width: 1440px) {
        font-size: 20px;
      }
    }

    .banner {
      height: 50vh;
      @media screen and (min-width: 600px) and (max-width: 960px) {
        height: 45vw;
      }
      @media screen and (max-width: 599px) {
        height: 60vw;
        background-size: contain;
      }
      @include background();
      background-image: url("~src/assets/images/banner.webp");
      background-size: cover;
    }
  }
  .bullets {
    margin: 0 auto;
    padding: var(--space-md) 0;
    text-align: center;
    background-color: var(--color-primary-dark);
    color: var(--color-primary-light);
    .bullet {
      margin: var(--space-md);
      @media screen and (max-width: 960px) {
        margin: var(--space-lg);
      }
      .icon {
        @include background();
        background-size: contain;
        height: var(--space-xxl);
      }
    }
  }
  .courses {
    margin: var(--space-xl) 0;
    .latest{
      min-height: 10em;
      .image {
        @include background();
        background-size: contain;
        height: 40vh;
        @media screen and (min-width: 600px) and (max-width: 960px) {
          height: 55vh;
        }
        @media screen and (max-width: 599px) {
          height: 50vh;
        }
      }

      .text {
        .course-title {font-weight: 100;}
        p { margin: var(--space-lg) 0; }

        @media screen and (max-width: 959px) {
          text-align: center;
          padding: var(--space-lg);
        }

        .action {
          min-height: var(--space-lg);
          width: 7em;
        }
      }
    }
    .stream {
      background-color: var(--color-grey8);
    }
  }
}
