@use "src/flex" as flex;
.notes {
  @include flex.width(100%);

  margin-top: var(--space-md);
  ul {
    list-style-image: initial;
  }
  li {
    font-size: 1rem;
    line-height: var(--space-md);
    padding-bottom: var(--space-xxs);
  }
  .bold {
    font-weight: bolder;
    color: var(--color-grey5);
  }
}
