.notes {
  margin-top: var(--space-md);
  li {
    font-size: 1rem;
    line-height: var(--space-md);
    padding-bottom: var(--space-xxs);
  }
  .bold {
    font-weight: bolder;
    color: var(--color-grey5);
  }
}
