<div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around start" class="container" *ngIf="!proceed; else start">
  <div fxFlex="100" fxLayoutAlign="space-around center" class="loading" *ngIf="!exam; else loaded">
    <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
  </div>
  <ng-template #loaded>
    <div fxFlex="90" class="mat-display-1 thin" appBlackRenderer content="Welcome To Your Final Exam"
         keyword="Final"></div>
    <div class="mat-subheading-2" fxFlex="90" fxFlex.md="70" fxFlex.gt-md="60">
      Please read the following instructions before taking the test:
    </div>
    <ul fxFlex="90" fxFlex.md="70" fxFlex.gt-md="60">
      <li>The questions are about the topics/lessons introduced in this course.</li>
      <li>Each exam is unique because questions are picked randomly from a test repository.</li>
      <li>There are no time limits or negative points and the passing grade is {{exam.passingGrade}}/100.</li>
      <li>The certification will be issued and accessible in your dashboard.</li>
      <li>Additionally you may issue the certificate as NFT (with a fee) as well and access it from the XRPL blockchain.
      </li>
    </ul>
    <div class="mat-subheading-2" fxFlex="90" fxFlex.md="70" fxFlex.gt-md="60">
      All the best!
    </div>
    <mat-divider fxFlex="90" fxFlex.md="70" fxFlex.gt-md="60"></mat-divider>
    <div fxFlex="90" fxFlex.md="70" fxFlex.gt-md="60" class="proceed">
      <div *ngIf="!exam.paid; else free">
        <div>Please choose your payment method:</div>
        <div>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="{{i}}" *ngFor="let payment of exam.payOptions; let i=index">
              {{payment.amount}} {{currencies[payment.currency]}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <button mat-flat-button color="primary" (click)="pay()">Pay & Proceed</button>
      </div>
      <ng-template #free>
        <button mat-flat-button color="primary" (click)="proceed=true">Proceed</button>
      </ng-template>
    </div>
    <div fxFlex="90">
      <app-share-buttons shareUrl="https://wtf.pub" message="waka waka yaw!"></app-share-buttons>
    </div>
  </ng-template>

  <app-certificate [certificate]="certificate" fxFlex="100" style="height: 50vh"></app-certificate>

</div>
<ng-template #start>
  <app-lesson [passingGrade]="exam.passingGrade" ></app-lesson>
</ng-template>

