<div class="final-exam" *ngIf="!proceed; else start">
  <mat-progress-spinner *ngIf="exam; else loaded" mode="indeterminate" color="primary"></mat-progress-spinner>
  <ng-template #loaded>
    <div class="mat-display-1 thin" appBlackRenderer content="Welcome To Your Final Exam"
         keyword="Final"></div>
    <div class="mat-subheading-2 instructions">
      Please read the following instructions before taking the test:
    </div>
    <ul>
      <li>The questions are about the topics/lessons introduced in this course.</li>
      <li>Each exam is unique because questions are picked randomly from a test repository.</li>
      <li>There are no time limits or negative points and the passing grade is {{exam.passingGrade}}/100.</li>
      <li>The certification will be issued and accessible in your dashboard.</li>
      <li>Additionally you may issue the certificate as NFT (with a fee) as well and access it from the XRPL blockchain.
      </li>
    </ul>
    <div class="mat-subheading-2 best" fxFlex="90" fxFlex.md="70" fxFlex.gt-md="60">
      All the best!
    </div>
    <mat-divider></mat-divider>
    <div class="proceed">
      <div *ngIf="!exam.paid; else free">
        <div>Please choose your payment method:</div>
        <div>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="{{i}}" *ngFor="let payment of exam.payOptions; let i=index">
              {{payment.amount}} {{currencies[payment.currency]}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <button mat-flat-button color="primary" (click)="pay()">Pay & Proceed</button>
      </div>
      <ng-template #free>
        <button mat-flat-button color="primary" (click)="proceed=true">Proceed</button>
      </ng-template>
    </div>
  </ng-template>
</div>
<ng-template #start>
  <app-lesson [passingGrade]="exam.passingGrade"></app-lesson>
</ng-template>

