.controls {
  text-align: center;
}

progress {
  margin: 3.3rem 0 2rem 0;
}

.percent {
  color: var(--color-primary-light);
  font-weight: bold;
  font-size: xx-large;
  margin: 0 0 0.7rem 0;
}

.progress {
  color: var(--color-primary-light);
  font-weight: bold;
  margin: 0;
}
