
button {
  z-index: 10;
  min-height: 3em;
  margin: 0 var(--space-xxs);

  span {
    vertical-align: baseline;
    font-weight: 700;
  }
}

.response {
  color: var(--color-greye);
  border-radius: var(--space-xxs);
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 5;
  @media screen and (min-width: 1920px) {
    width: 15vw;
  }
  @media screen and (min-width: 1280px) and (max-width: 1919px) {
    width: 20vw;
  }
  @media screen and (min-width: 960px) and (max-width: 1279px) {
    width: 30vw;
  }
  @media screen and (min-width: 600px) and (max-width: 959px) {
    width: 40vw;
  }
  @media screen and (max-width: 599px) {
    width: 49vw;
  }
}

.hint {
  .mat-icon, span {
    color: var(--color-greye) !important;
  }
}

