.profile {
  margin: var(--space-xl) 0;
  .avatar {
    margin-bottom: var(--space-md);
  }
  .mat-form-field {
    margin: 0;
  }
  .last_update {
    margin-top: var(--space-xs);
    color: var(--color-grey7);
    p {text-align: center}
  }

  .wallet {
    color: var(--color-primary);
    font-size: 0.85em;
    .address {font-size: larger}
    span {
      margin-right: var(--space-sm);
      padding: var(--space-xs);
      color: var(--color-grey7);
      background-color: var(--color-greye);
      border-radius: 5px;
      .mat-icon {
        font-size: inherit;
      }
    }
  }
}
