<div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around start">
  <div fxFlex.gt-lg="65" fxFlex="80" fxFlex.lt-md="100" fxLayout="row wrap" fxLayoutAlign="space-around start"
       class="dashboard" *ngIf="auth.user | async as user;else loading">

    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between start" [formGroup]="form" *ngIf="user">
      <div fxFlex="33" fxFlex.lt-lg="100" fxLayout="row wrap" class="info">
        <div fxFlex="100">
          <mat-slide-toggle formControlName="published" (change)="update()">
            <span [ngClass]="{'glow': form.get('published')?.value}">Publish</span>
          </mat-slide-toggle>
        </div>
        <div fxFlex="100">
          <mat-divider></mat-divider>
          <app-image-uploader
            (uploaderEvents)="updateImage($event)"
            [currentImage]="user.photoURL"
            [path]="path"
          ></app-image-uploader>
        </div>
        <div fxFlex="100">
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Course Name" formControlName="name" (keydown.enter)="update('name')">
            <mat-icon class="check" matSuffix (click)="update('name')" *ngIf="!clicked.name">check</mat-icon>
            <span class="saving" matSuffix *ngIf="clicked.name">SAVING</span>
          </mat-form-field>
        </div>
        <div fxFlex="100">
          <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <input matInput placeholder="Course Description" formControlName="description"
                   (keydown.enter)="update('description')">
            <mat-icon class="check" matSuffix (click)="update('description')" *ngIf="!clicked.description">check</mat-icon>
            <span class="saving" matSuffix *ngIf="clicked.name">SAVING</span>
          </mat-form-field>
        </div>

        <div fxFlex="100" class="update">
          <mat-divider></mat-divider>
          <div>
            <span>last update: </span>
            <p>{{course.timestamps.updated_at | date: 'full'}}</p>
          </div>
        </div>
      </div>
      <div fxFlex="63" fxFlex.lt-lg="100" fxLayout="row wrap" [courseId]="id"></div>
    </div>

  </div>
  <ng-template #loading>
    <div class="loading" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around center">
      <mat-spinner color="primary"></mat-spinner>
    </div>
  </ng-template>
</div>
