@mixin iconText() {
  color: var(--color-grey7);
  text-align: center;
  .mat-icon {
    font-size: inherit;
  }
}

@mixin background($name) {
  background-image: url($name);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: var(--space-xxl);
}


.profile {
  .mat-divider {
    margin: var(--space-xs) 0;
  }
  margin: var(--space-xl) 0;

  .avatar {
    margin-bottom: var(--space-md);
  }

  .mat-form-field {
    margin: 0;
  }

  .last_update {
    margin-top: var(--space-xs);
    color: var(--color-grey7);

    p {
      text-align: center;
      margin-top: var(--space-sm);
    }
  }

  .wallet {
    font-size: 0.85em;

    span {
      margin: var(--space-sm) 0;
      background-color: var(--color-greye);
      border-radius: 5px;
      @include iconText();
    }

    .balance {
      color: var(--color-grey7);
      text-align: left;
      line-height: normal;
      margin-top: var(--space-xs);
      .amount {
        font-size: 17px;
        padding: var(--space-xxxs);
        background-color: var(--color-primary-lighter);
      }
    }
  }

  .transactions {
    text-align: center;
    margin: var(--space-sm) 0;

    .head {
      color: var(--color-greye);
      background-color: var(--color-grey4);
      margin-top: var(--space-xxs);
      padding: var(--space-xs) 0;
    }
    .row {
      font-size: smaller;
      padding: var(--space-xs) 0;
      .tag {
        line-height: normal;
        color: var(--color-greye);
        background-color: var(--color-grey6);
        font-size: smaller;
        font-weight: 700;
        padding: var(--space-xxxs);
        border-radius: var(--space-xs);
      }
    }
    .row:nth-child(even) {
      background-color: var(--color-greye);
      color: var(--color-grey4);
    }
    .row:nth-child(odd) {
      background-color: var(--color-greyd);
      color: var(--color-grey1)
    }
  }

  .loyalty {
    margin: var(--space-lg) 0;
    text-align: center;

    .gold { @include background('~src/assets/images/logo-gold.png')}
    .silver { @include background('~src/assets/images/logo-silver.png')}
    .bronz { @include background('~src/assets/images/logo-bronz.png')}
  }

  .achievements {
    text-align: center;
  }

  .thin {
    font-weight: 100;
    margin: 0;
  }
}
