<div [fxFlex.gt-lg]="isDashboard?100:65" [fxFlex.lg]="isDashboard?100:85" fxFlex.lt-lg="100" fxLayout="row wrap"
     fxLayoutAlign="space-between start"
     class="content" [style.margin]="isDashboard ? '0':'var(--space-xl) auto'">
  <div class="course" fxFlex="53" fxFlex.lt-md="100" fxLayout="row wrap" fxLayoutAlign="space-between start">
    <div class="progress" *ngIf="loading.course">
      <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
    </div>
    <div *ngIf="course" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around center">
      <div fxFlex="100" class="image" *ngIf="course.banner"
           [ngStyle]="{'background-image': 'url('+(course.banner|storageUrl|async)+')'}">
      </div>
      <div fxFlex>
        <div class="level"><span class="mat-caption">{{courseLevel|uppercase}}</span></div>
      </div>
      <div fxFlexOffset="90" fxFlex="20">
        <div class="avatar" [ngStyle]="{'background-image': 'url(' + (course.avatar | storageUrl | async) + ')'}"></div>
      </div>

      <div *ngIf="isDashboard;else guest_view" fxFlex="95" class="heading mat-title"
           ngClass.lt-md="mat-subheading-2" [ngStyle]="{'margin-top': '-2em' }">
        {{course.name}}</div>
      <ng-template #guest_view>
        <div fxFlex="95" class="heading" [ngStyle]="{'margin-top': '-1.2em' }"
             ngClass.gt-md="mat-display-1" ngClass.md="mat-headline" ngClass.lt-md="mat-title">
          <span *ngIf="keyword; else no_keyword" appBlackRenderer [content]="course.name" [keyword]="keyword"></span>
          <ng-template #no_keyword>
            {{course.name}}
          </ng-template>
        </div>
      </ng-template>
      <div fxFlex="95" class="mat-body-2 description">
        <markdown emoji ngPreserveWhitespaces>{{course.description}}</markdown>
      </div>
    </div>
  </div>
  <div fxFlex="45" fxFlex.lt-md="90" fxFlexOffset.lt-md="5" fxLayout="row wrap" fxLayoutAlign="space-around start"
       class="lessons">

    <div fxFlex="70" fxFlex.md="80" fxFlex.lt-md="100" fxLayout="row wrap" fxLayoutAlign="center center" >
      <mat-form-field fxFlex="45" fxFlex.lt-md="80" appearance="fill">
        <mat-label>PICK ONE</mat-label>
        <mat-select>
          <mat-option>option1</mat-option>
          <mat-option>option2</mat-option>
        </mat-select>
        <mat-hint>currency is required</mat-hint>
        <mat-error>You must make a selection</mat-error>
      </mat-form-field>
      <button fxFlex="45" fxFlex.lt-md="40" mat-flat-button color="primary">BUY</button>
    </div>

    <div fxFlex="100" *ngIf="loading.lessons">
      <mat-progress-bar color="primary" mode="query"></mat-progress-bar>
    </div>
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around start" class="lesson"
         *ngFor="let lesson of lessons; let i = index">
      <div fxFlex="70" fxFlex.lt-md="100" fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div fxFlex class="avatar"
             [ngStyle]="{'background-image': 'url(' + (course.avatar|storageUrl|async) + ')'}"></div>
        <div fxFlex="90" class="lesson-heading">{{lesson.name}}</div>
        <div fxFlex="100" class="description mat-body-2">{{lesson.description}}</div>
      </div>

      <div fxFlex="30" fxFlex.lt-md="45" *ngIf="(auth.user | async) && lesson; else guest">
        <p *ngIf="!lesson.published" class="coming-soon mat-subheading-2"><span>COMING SOON</span></p>
        <app-progress
          [userId]="userId"
          [course]="course"
          [lesson]="lesson"
          [slides]="course.stats[i]"
          *ngIf="lesson.published">
        </app-progress>
      </div>
      <ng-template #guest>
        <button mat-flat-button [routerLink]="['lessons', lesson.id]" *ngIf="lesson.published">Start</button>
        <p *ngIf="!lesson.published" class="coming-soon mat-subheading-2"><span>COMING<br>SOON</span></p>
      </ng-template>
    </div>
    <div class="summary" fxFlex="100" *ngIf="courseInfo && courseInfo.status === status.Retake">
      <mat-icon>info</mat-icon>
      <span class="mat-subheading-1">Note</span>
      <mat-divider></mat-divider>
      <span>You took this course and completed the available lessons on: {{courseInfo.updated_at | date: 'medium'}}</span>
      <div class="result">
        <p [ngClass]="courseInfo.score > 60 ? 'mat-subheading-2' : 'mat-subheading-1'"
           [ngStyle]="{'color': courseInfo.score > 60 ? 'var(--color-primary)' : 'var(--color-warn)'}">
          {{courseInfo.score > 60 ? 'Congratulations You Passed!' : 'Unfortunately you failed.'}}
        </p>
        <p>Your highest score is: {{courseInfo.score | number: '1.1-1'}}</p>
      </div>
    </div>
    <div class="certified" *ngIf="courseInfo && courseInfo.status === status.Retake">
      <p>It seams you are ready fot the final exam.</p>
      <button mat-flat-button (click)="takeExam()" color="warn">
        <mat-icon>verified_user</mat-icon>
        <span>GET CERTIFIED</span>
      </button>
    </div>
  </div>
</div>
