<div class="container" [ngClass]="isDashboard ? 'dashboard' : 'non-dashboard'">
  <div class="course">
    <div class="progress" *ngIf="loading.course">
      <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
    </div>
    <div *ngIf="course" class="course-fields">
      <div class="image" *ngIf="course.banner"
           [ngStyle]="{'background-image':'url('+(course.banner|storageUrl|async)+')'}">
      </div>

      <div class="heading">
        <span *ngIf="keyword; else no_keyword" appBlackRenderer [content]="course.name" [keyword]="keyword"></span>
        <ng-template #no_keyword>
          {{course.name}}
        </ng-template>
      </div>
      <div class="mat-body-2 description">
        <markdown emoji ngPreserveWhitespaces>{{course.description}}</markdown>
      </div>
    </div>
  </div>
  <div class="lessons">
    <mat-progress-bar *ngIf="loading.lessons" color="primary" mode="query"></mat-progress-bar>
    <div *ngFor="let lesson of lessons; let i = index" class="lesson">
      <div class="lesson-fields">
        <div class="avatar" [ngStyle]="{'background-image': 'url(' + (course.avatar|storageUrl|async) + ')'}"></div>
        <div class="lesson-heading">{{lesson.name}}</div>
        <div class="description mat-body-2">{{lesson.description}}</div>
      </div>

      <div class="progress" *ngIf="(auth.user | async) && lesson; else guest">
        <p *ngIf="!lesson.published" class="coming-soon mat-subheading-2"><span>COMING SOON</span></p>
        <app-progress
          [userId]="userId"
          [course]="course"
          [lesson]="lesson"
          [slides]="course.stats[i]"
          *ngIf="lesson.published">
        </app-progress>
      </div>
      <ng-template #guest>
        <button mat-flat-button [routerLink]="['lessons', lesson.id]" *ngIf="lesson.published">Start</button>
        <p *ngIf="!lesson.published" class="coming-soon mat-subheading-2"><span>COMING<br>SOON</span></p>
      </ng-template>
    </div>
    <div class="summary" *ngIf="userId && courseInfo && courseInfo.status === status.Retake">
      <mat-icon>info</mat-icon>
      <span class="mat-subheading-1">Note</span>
      <mat-divider></mat-divider>
      <span>You took this course and completed the available lessons on: {{courseInfo.updated_at | date: 'medium'}}</span>
      <div class="result">
        <p [ngClass]="courseInfo.score > 60 ? 'mat-subheading-2' : 'mat-subheading-1'"
           [ngStyle]="{'color': courseInfo.score > 60 ? 'var(--color-primary)' : 'var(--color-warn)'}">
          {{courseInfo.score > 60 ? 'Congratulations You Are Ready!' : 'You Need More Practice.'}}
        </p>
        <p>Your overall score is: {{courseInfo.score | number: '1.1-1'}}</p>
      </div>
    </div>
    <div class="certified" *ngIf="userId && courseInfo && courseInfo.status === status.Retake">
      <div *ngIf="!finalExam?.grade; else get_certified">
        <p>
          <span>You took the final exam at <strong>{{finalExam?.timestamp | date: 'medium'}}</strong></span>
          <span> and your current grade is <strong>{{finalExam?.grade | number: '1.1-1'}}</strong>. </span>
          <button color="primary" mat-button [routerLink]="['/verify', courseId.slice(0,8)]"
                  [queryParams]="{user: userId.slice(0,8)}">
            <span>CERTIFICATE </span>
            <mat-icon>workspace_premium</mat-icon>
          </button>
        </p>
        <button mat-flat-button routerLink="final-exam" color="warn">
          <mat-icon>verified_user</mat-icon>
          <span>RETAKE THE TEST</span>
        </button>
      </div>
      <ng-template #get_certified>
        <p>It seams you are ready for final exam.</p>
        <button mat-flat-button routerLink="final-exam" color="warn">
          <mat-icon>verified_user</mat-icon>
          <span>GET CERTIFIED</span>
        </button>
      </ng-template>
    </div>
  </div>
</div>
