<div [fxFlex.gt-lg]="isDashboard?100:65" [fxFlex.lg]="isDashboard?100:85" fxFlex.lt-lg="100" fxLayout="row wrap"
     fxLayoutAlign="space-between start"
     class="content" [style.margin]="isDashboard ? '0':'var(--space-xl) auto'">
  <div class="course" fxFlex="53" fxFlex.lt-md="100" fxLayout="row wrap" fxLayoutAlign="space-between start">
    <div class="progress" *ngIf="loading.course">
      <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
    </div>
    <div *ngIf="course" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around center">
      <div fxFlex="100" class="image" *ngIf="course.banner"
           [ngStyle]="{'background-image': 'url('+(course.banner|storageUrl|async)+')'}"></div>
      <div fxFlexOffset="90" fxFlex="10">
        <div class="avatar" [ngStyle]="{'background-image': 'url(' + (course.avatar | storageUrl | async) + ')'}"></div>
      </div>
      <div *ngIf="isDashboard;else guest_view" fxFlex="95" class="heading mat-title"
           ngClass.lt-md="mat-subheading-2" [ngStyle]="{'margin-top': '-2em' }">{{course.name}}</div>
      <ng-template #guest_view>
        <div fxFlex="95" class="heading" [ngStyle]="{'margin-top': '-1.2em' }"
             ngClass.gt-md="mat-display-1" ngClass.md="mat-headline" ngClass.lt-md="mat-title">
          <span *ngIf="keyword; else no_keyword" appBlackRenderer [content]="course.name" [keyword]="keyword"></span>
          <ng-template #no_keyword>
            {{course.name}}
          </ng-template>
        </div>
      </ng-template>
      <div fxFlex="95" class="mat-body-2 description">
        <markdown ngPreserveWhitespaces>{{course.description}}</markdown>
      </div>
    </div>
  </div>
  <div fxFlex="45" fxFlex.lt-md="90" fxFlexOffset.lt-md="5" fxLayout="row wrap" fxLayoutAlign="space-between start"
       class="lessons">
    <div fxFlex="100" *ngIf="loading.lessons">
      <mat-progress-bar color="primary" mode="query"></mat-progress-bar>
    </div>
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between start" class="lesson"
         *ngFor="let lesson of lessons; let i = index">
      <div fxFlex="70" fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div fxFlex class="avatar" [ngStyle]="{'background-image': 'url(' + (course.avatar|storageUrl|async) + ')'}"></div>
        <div fxFlex="90" class="lesson-heading">{{lesson.name}}</div>
        <div fxFlex="100" class="description mat-body-2">{{lesson.description}}</div>
      </div>
      <div fxFlex="30" *ngIf="(auth.user | async) && lesson ; else guest">
        <app-progress [userId]="userId" [course]="course" [lesson]="lesson" [slides]="course.stats[i]"></app-progress>
      </div>
      <ng-template #guest>
        <button mat-flat-button [routerLink]="['lessons', lesson.id]">Start</button>
      </ng-template>
    </div>
    <div class="summary" fxFlex="100" *ngIf="summary">
      <mat-icon>info</mat-icon>
      <span class="mat-subheading-1">Note</span>
      <mat-divider></mat-divider>
      <span>You took this course and completed all the lessons on: {{courseInfo.updated_at | date: 'medium'}}</span>
      <div class="result">
        <p [ngClass]="courseInfo.score > 60 ? 'mat-subheading-2' : 'mat-subheading-1'"
           [ngStyle]="{'color': courseInfo.score > 60 ? 'var(--color-primary)' : 'var(--color-warn)'}">
          {{courseInfo.score > 60 ? 'Congratulations You Passed!' : 'Unfortunately you failed.'}}
        </p>
        <p>Your highest score is: {{courseInfo.score}}</p>
      </div>
    </div>
  </div>
</div>
