.progress {
  margin-bottom: var(--space-sm);
  padding-bottom: var(--space-sm);

  .start, .retake {
    color: var(--color-primary-lighter);
    .mat-icon{
      color: var(--color-primary-lighter) !important;
    }
  }

  .resume {
    color: var(--color-accent-lighter);
    .mat-icon{
      color: var(--color-accent-lighter) !important;
    }
  }

  .mat-icon {
    position: relative;
    bottom: 1px;
  }


  .markers{
    margin: var(--space-md) auto;
    text-align: center;
    .marker {
      width: 0.4em;
      height: 0.4em;
      border: 2px solid var(--color-accent);
      border-radius: 3px;
      display: inline-block;
      margin: 0.04em;
    }
  }


  .score {
    margin: var(--space-sm) 0;
    color: var(--color-grey7);
    strong {
      color: var(--color-primary);
    }
  }
}
