.progress {
  margin-bottom: var(--space-sm);
  padding-bottom: var(--space-sm);
  //border-bottom: 1px solid var(--color-greyb);
  .mat-icon{
    vertical-align: middle;
  }

  .markers{
    margin: var(--space-md) auto;
    text-align: center;
    .marker {
      width: 0.4em;
      height: 0.4em;
      border: 2px solid var(--color-accent);
      border-radius: 3px;
      display: inline-block;
      margin: 0.04em;
    }
  }


  .score {
    font-size: smaller;
    p {
      color: var(--color-grey7);
    }
    span {
      color: var(--color-primary);
      font-weight: 700;
    }
  }
}
