<div class="progress" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between start">
  <ng-container [ngSwitch]="status">
    <div fxFlex="29" *ngSwitchCase="status.Start" class="mat-caption done">
      <button mat-flat-button (click)="open()">{{statuses[status.Start]}}</button>
    </div>
    <div fxFlex="29" *ngSwitchCase="status.Retake" class="mat-caption done">
      <button mat-flat-button>{{statuses[status.Retake]}}</button>
      <mat-icon>done</mat-icon>
    </div>
    <div fxFlex="29" *ngSwitchCase="status.Resume" class="mat-caption done">
          <span *ngFor="let square of [].constructor(totalSlides); let i = index" class="marker"
                [style.background-color]="i <= currentSlide ? 'var(--color-primary)' : ''">
          </span>
      <button mat-flat-button>{{statuses[status.Resume]}}</button>
    </div>
  </ng-container>

</div>



<!-- Are they taking the course again? -->
<!--      <div fxFlex="70" fxFlex.lt-md="65" class="score" *ngIf="progress.grade>-->
<!--        <p>-->
<!--          Previous score ({{progress.updated_at | date: 'longDate'}}):-->
<!--          <span [ngStyle]="{color: (progress.score>50)?'var(&#45;&#45;color-primary)':'var(&#45;&#45;color-warn)'}">{{progress.score}}-->
<!--            /100</span>-->
<!--        </p>-->
<!--      </div>-->

<!--    <ng-container *ngSwitchCase="status.Retake">-->
<!--      <div fxFlex="70" fxFlex.lt-lg="64" class="score">-->
<!--        <strong>Passed</strong>-->
<!--        <mat-icon>done</mat-icon>-->
<!--        <p class="mat-caption">{{progress.updated_at | date: 'longDate'}}</p>-->
<!--        <span class="mat-caption" [ngStyle]="{color: (progress.score>50)?'var(&#45;&#45;color-primary)':'var(&#45;&#45;color-warn)'}">-->
<!--            final score: {{progress.score}}/100-->
<!--        </span>-->
<!--      </div>-->
<!--      <button fxFlex="29" fxFlex.lt-lg="35" mat-flat-button color="accent">{{statuses[progress.status]}}</button>-->
<!--    </ng-container>-->
