<div class="header">
  <div class="exit" (click)="exit()">
    <mat-icon color="warn">chevron_left</mat-icon>
    <span>EXIT</span>
  </div>
  <div class="markers">
    <div class="marker" *ngFor="let block of firstRow; let i = index;"
         (click)="jumpTo(i)"
         [style.background-color]="getColor(i)"
         [style.border-color]="getColor(i)"
         [style.cursor]="i <= progress ? 'pointer' : 'default'"
    ></div>
    <div class="second-row">
      <div class="marker" *ngFor="let block of secondRow; let i = index;"
           (click)="jumpTo(i+firstRow.length)"
           [style.background-color]="getColor(i + firstRow.length)"
           [style.border-color]="getColor(i + firstRow.length)"
           [style.cursor]="(i + firstRow.length) <= progress ? 'pointer' : 'default'"
      ></div>
    </div>
    <span>{{(slideService.ui | async)?.action}}</span>
  </div>
  <div class="info">
    <div class="course">{{course}}</div>
    <div class="lesson">{{lesson}}</div>
  </div>
</div>
