@use "src/flex" as flex;

.header {
  @include flex.container(100%, space-between, center);
  z-index: 5;
  padding: var(--space-xxxs) 0;
  background-color: var(--color-primary-dark);
  color: var(--color-primary-light);
  min-height: 85px;
  max-height: 85px;
  margin-bottom: var(--space-sm);
  .exit {
    @include flex.breakpoint(lt-sm, 28%);
    @include flex.breakpoint(sm, 14%);
    @include flex.breakpoint(gt-sm, 37%);
    padding-left: var(--space-xxs);
    cursor: pointer;
    .mat-icon {
      vertical-align: middle;
    }
    span {
      color: var(--color-warn-light);
      vertical-align: middle;
      font-size: larger;
      letter-spacing: var(--space-xxxs);
    }
  }
  .markers {
    @include flex.breakpoint(lt-sm, 70%);
    @include flex.breakpoint(sm, 42%);
    @include flex.breakpoint(gt-sm, 20%);
    text-align: center;
    .marker {
      width: 0.6em;
      height: 0.6em;
      border: 2px solid var(--color-primary);
      border-radius: 3px;
      display: inline-block;
      margin-bottom: 0.04em;
      margin-right: 0.1em;
    }

    .second-row {
      display: block;
    }
    span {
      font-size: smaller;
      letter-spacing: var(--space-xxs);
      @media screen and (max-width: 960px){
        letter-spacing: 0;
      }
    }
  }
  .info {
    @include flex.width(40%);
    @media screen and (max-width: 600px) {
      display: none;
    }
    text-align: right;
    padding-right: var(--space-sm);
    .course {
      font-weight: 700;
      font-size: larger;
      color: var(--color-accent-lighter);
    }
    .lesson {
      font-size: smaller;
      opacity: 0.9;
      color: var(--color-accent-lighter);
    }
  }
}
