<ng-container [ngSwitch]="certificate.layout" #outlet [ngTemplateOutlet]="content">
  <ng-template #content>

  <!-- Joy template -->
  <div class="joy" #joy *ngSwitchCase="layout.Joy">
    <div class="fullname">{{certificate.fullName}}</div>
    <div class="description">{{certificate.present.description}}</div>
    <div class="course">{{certificate.courseName}}</div>
    <div class="footer">
      <div class="verify">
        <p>Verify at https://learn.wtf.pub/verify/{{certificate.courseId.slice(0, 8)}}</p>
        <p>query code: {{certificate.userId.slice(0, 8)}}</p>
      </div>
      <div class="signature">
        <p class="sign">{{certificate.courseCreator.fullName}}</p>
        <p>{{certificate.courseCreator.profession}}</p>
        <p>{{certificate.timestamp | date}}</p>
      </div>
    </div>
  </div>

  <!-- Hope template -->
  <div class="hope" #hope *ngSwitchCase="layout.Hope">
    <div class="fullname">{{certificate.fullName}}</div>
    <div class="description">{{certificate.present.description}}</div>
    <div class="course">{{certificate.courseName}}</div>
    <div class="footer">
      <div class="verify">
        <p>Verify at https://learn.wtf.pub/verify/{{certificate.courseId.slice(0, 8)}}</p>
        <p>query code: {{certificate.userId.slice(0, 8)}}</p>
      </div>
      <div class="signature">
        <p class="sign">{{certificate.courseCreator.fullName}}</p>
        <p>{{certificate.courseCreator.profession}}</p>
        <p>{{certificate.timestamp | date}}</p>
      </div>
    </div>
  </div>
  </ng-template>
</ng-container>
<!--to do make it dynamic and render it to a class for situations where multiple certificates need to be rendered in a page-->
<div #output>
</div>
