@use "src/flex" as flex;

.lesson {
  @include flex.container(100%, space-between, center, column);
  min-height: 99vh;
  .mat-progress-spinner {
    margin: var(--space-xxxl) auto;
  }

  .slides {
    @include flex.container(100%, space-around, center);
  }
  .fullwidth {
    width: 100vw;
  }
}
