<div fxFlex="100" fxLayout="column" fxLayoutAlign="space-between center" class="content">
  <app-renderer-header fxFlex="10" class="fullwidth" *ngIf="slides"
                       [count]="slides.length"
                       [course]="course"
                       [lesson]="lesson"
  ></app-renderer-header>
  <div fxFlex="80" class="fullwidth">
    <div fxFlex="80" fxLayoutAlign="space-around center" class="loading" *ngIf="loading">
      <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
    </div>
    <app-not-found fxFlex="100" *ngIf="!loading && slides.length == 0; else render" [lessonsId]="lessonId"></app-not-found>
    <ng-template #render>
      <app-slides-renderer fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around center" *ngIf="!loading"
                           [slides]="slides"></app-slides-renderer>
    </ng-template>
  </div>
  <app-renderer-footer fxFlex="10" class="fullwidth" *ngIf="slides"></app-renderer-footer>
</div>
