<div class="lesson">
  <app-renderer-header class="fullwidth" *ngIf="slides" [count]="slides.length" [course]="course" [lesson]="lesson">
  </app-renderer-header>
  <div class="fullwidth">
    <mat-progress-spinner mode="indeterminate" color="primary" *ngIf="loading"></mat-progress-spinner>
    <app-not-found *ngIf="!loading && slides.length == 0; else render" [lessonsId]="lessonId"></app-not-found>
    <ng-template #render>
      <app-slides-renderer *ngIf="!loading" [slides]="slides" [passingGrade]="passingGrade" class="slides">
      </app-slides-renderer>
    </ng-template>
  </div>
  <div *ngIf="passingGrade; else lessonFooter">
    <app-exam-footer class="fullwidth" *ngIf="slides" [courseId]="courseId" [lessonId]="lessonId" [totalSlides]="slides.length">
    </app-exam-footer>
  </div>
  <ng-template #lessonFooter>
    <app-renderer-footer class="fullwidth" *ngIf="slides" [courseId]="courseId" [lessonId]="lessonId" [totalSlides]="slides.length">
    </app-renderer-footer>
  </ng-template>
</div>
