.keywords {
  font-weight: bold;
  text-align: center;
  margin-top: var(--space-sm);
}

button {
  margin-top: var(--space-lg);

  span {
    padding-right: var(--space-xxs);
  }
}

mat-accordion {
  margin-bottom: var(--space-md);
  .mat-expansion-panel-header-description {
    flex-grow: 4;
  }
}

.passed {
  text-align: center;
  margin: var(--space-sm) auto;
  span {
    color: var(--color-primary-light);
  }

  p {
    margin-top: var(--space-sm);
    margin-bottom: var(--space-lg);
  }

  .certificate {
    h1 {
      cursor: pointer;
      text-decoration: underline dotted;
      margin-top: var(--space-xs);
      .mat-icon {
        margin-left: var(--space-xs)
      }
    }
    h1:hover {
      text-decoration: underline solid;
      transition: 1s;
    }
    p, .mat-form-field, button { margin: 0}
    span {
      color: var(--color-grey3);
    }
  }
}

.failed {
  color: var(--color-warn);
  text-align: center;
  margin: var(--space-md) auto;

  p {
    margin-top: var(--space-sm);
    color: var(--color-warn-dark);
  }
}

li {
  span {
    margin: 0 var(--space-sm);
    color: var(--color-grey1);

    .mat-icon {
      vertical-align: middle;
      color: var(--color-grey1) !important;
    }
  }

  p {
    font-size: larger;
    color: var(--color-grey7);
  }
}

.mat-divider {
  margin: var(--space-md) auto;
}

.nft {
  color: var(--color-accent);
  text-align: center;
  button {
    color: var(--color-accent-lightest);
  }
}
