.keywords {
  font-weight: bold;
  text-align: center;
  margin-top: var(--space-sm);
}

button {
  margin-top: var(--space-lg);

  span {
    padding-right: var(--space-xxs);
  }
}

mat-accordion {
  margin-bottom: var(--space-md);
  .mat-expansion-panel-header-description {
    flex-grow: 4;
  }
}

.passed {
  color: var(--color-primary-light);
  text-align: center;
  margin: var(--space-md) auto;

  p {
    margin-top: var(--space-sm);
    color: var(--color-primary);
  }
}

.failed {
  color: var(--color-warn);
  text-align: center;
  margin: var(--space-md) auto;

  p {
    margin-top: var(--space-sm);
    color: var(--color-warn-dark);
  }
}

li {
  span {
    margin: 0 var(--space-sm);
    color: var(--color-grey1);

    .mat-icon {
      vertical-align: middle;
      color: var(--color-grey1) !important;
    }
  }

  p {
    font-size: larger;
    color: var(--color-grey7);
  }
}

.mat-divider {
  margin: var(--space-md) auto;
}

.nft {
  color: var(--color-accent);
  text-align: center;
  button {
    color: var(--color-accent-lightest);
  }
}
