<div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between start" class="landing">
  <div fxFlex.gt-lg="65" fxFlex="80" fxFlex.lt-md="100" fxLayout="row wrap" fxLayoutAlign="space-between start">
    <div fxFlex="65" fxFlex.lt-lg="90" fxLayout="row wrap" fxLayoutAlign="space-around start">
      <div fxFlex="100" class="mat-headline">Releases</div>
      <div fxFlex="90" fxLayout="row wrap" fxLayoutAlign="space-around start" *ngFor="let r of releases">
        <div fxFlex="100" class="version">{{r.version}}</div>
        <div fxFlex="100" class="date">{{r.date}}</div>
        <div fxFlex="100" class="features" *ngIf="r.features">
          <div class="mat-title">Feature</div>
          <ul *ngFor="let feature of r.features">
            <li>{{feature}}</li>
          </ul>
        </div>
        <div fxFlex="100" class="improvements" *ngIf="r.improvements">
          <div class="mat-title">Improvements</div>
          <ul *ngFor="let improvement of r.improvements">
            <li>{{improvement}}</li>
          </ul>
        </div>

        <div fxFlex="100" class="fixes" *ngIf="r.fixes.length > 0">
          {{r.fixes}}
          <div class="mat-title">Fixes</div>
          <ul *ngFor="let fix of r.fixes">
            <li>{{fix}}</li>
          </ul>
        </div>
        <div fxFlex="100" class="operations" *ngIf="r.operations">
          <div class="mat-title">Operations</div>
          <ul class="operations" *ngFor="let operation of r.operations">
            <li>{{operation}}</li>
          </ul>
        </div>
      </div>
    </div>

    <div fxFlex="30" fxFlex.lt-lg="90" fxLayout="row wrap" fxLayoutAlign="space-around start">

      <div fxFlex="100" class="mat-headline">Road Map</div>
      <div class="mat-body-1">yaw</div>
    </div>
  </div>
</div>
