<div class="container">
  <div *ngIf="queriedCert;" class="certificate">
    <div class="details">
      <p>
        We acknowledge that <strong>{{queriedCert.fullName}}</strong>
        took the final exam for the <strong>{{queriedCert.courseName}}</strong> course
        and pass the test on <strong>{{queriedCert.timestamp | date}}.</strong>
      </p>
      <p class="mat-caption">Please contact us if you need more details (i.e final grade, etc)</p>
    </div>
    <div class="thumbnail">
      <app-certificate [certificate]="queriedCert"></app-certificate>
    </div>
  </div>

  <div class="search">
    <mat-form-field>
      <mat-label>SEARCH</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder=" i.e. blockchain, John, ..." #input>
    </mat-form-field>
  </div>
  <div *ngIf="loading" class="loading">
    <mat-spinner color="accent"></mat-spinner>
  </div>

  <div *ngIf="!dataSource && loading">
    <mat-spinner color="accent" strokeWidth="10" diameter="60"></mat-spinner>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef> #</th>
        <!--      <td mat-cell *matCellDef="let i = dataIndex"> {{i + 1}}</td>-->
        <td mat-cell *matCellDef="let i = index"> {{(i + 1) + (paginator.pageIndex * paginator.pageSize)}} </td>

      </ng-container>

      <!-- Course Name Column -->
      <ng-container matColumnDef="courseName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Course Name</th>
        <td mat-cell *matCellDef="let row"> {{row.courseName}} </td>
      </ng-container>

      <!-- Timestamp Column -->
      <ng-container matColumnDef="timestamp">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Certified On</th>
        <td mat-cell *matCellDef="let row"> {{row.timestamp | date }} </td>
      </ng-container>

      <!-- Timestamp Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Preview</th>
        <td mat-cell *matCellDef="let doc">
          <button mat-icon-button color="primary"
                  [routerLink]="['/verify', doc.courseId.slice(0,8)]" [queryParams]="{'user': doc.userId.slice(0,8)}">
            <mat-icon color="warn">visibility</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; let i=index; columns: displayedColumns;"
          [ngClass]="{alternate: i % 2 == 0}" class="row"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the query "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 50]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>
