
@mixin column {
  width: 50%;
  display: inline-block;
  position: relative;
  padding-top: var(--space-xl);
  font-family: "Delius", cursive;
}

@mixin box {
  height: var(--space-xl);
  position: relative;
  padding: var(--space-sm) 0 0 var(--space-md);
  margin: var(--space-xs) 0;
  box-shadow: 0 0 6px 2px var(--color-greyb);
  font-size: smaller;
  font-weight: bold;
  line-height: var(--space-lg);
  top: -5%;
  opacity: 1;
}

.questions {
  @include column;
  right: var(--space-lg);

  .question {
    @include box;
    width: 100%;
    cursor: pointer;
    background: var(--color-grey4);
    color: var(--color-greyd);
    z-index: 5;
  }

  .question:hover, .selected {
    color: var(--color-greyd);
    box-shadow: 0 0 6px 2px var(--color-grey4);
    border-left: 4px solid var(--color-greye);
    font-weight: bolder;
    text-decoration: underline;
  }

  .question:before {
    content: "";
    position: absolute;
    right: -0.75em;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 0.8em solid var(--color-grey4);
    border-top: 2em solid transparent;
    border-bottom: 2em solid transparent;
  }

  .q:before {
    border-left: 0.8rem solid var(--color-primary-dark);
    z-index: 15;
  }
}

.answers {
  @include column;
  right: -1rem;

  .answer {
    @include box;
    width: 100%;
    cursor: pointer;
    background: var(--color-greyd);
    color: var(--color-grey4);
  }

  .answer:hover {
    box-shadow: 0 0 6px 2px var(--color-grey4);
  }
}

.matches{
  position: relative;
}

.centered {
  position: relative;
  text-align: center;
}

.all-done {
  text-align: center;
  font-family: 'Delius', cursive;
  font-size: x-large;
  font-weight: bold;
  margin-top: var(--space-xxl);
  color: var(--color-primary);
  position: relative;
  bottom: 9em;
}

