input {
  width: 6em;
  background: none;
  border: 0 none;
  outline: 0;
  font-family: "Delius", cursive;
  font-weight: bold;
  font-size: larger;
  line-height: 1.3em;
  padding-left: var(--space-xxs);
}

.type-in {
  min-width: 8em;
  height: calc(var(--space-md) + var(--space-xs));
  padding: 9 var(--space-xxs) 0 var(--space-xxs);
  background-color: var(--color-greye);
  border-bottom: 1px solid var(--color-primary-light);
  display: inline-block;
  cursor: text;
  margin: 0 var(--space-xxs);
}

input:focus {
  outline: none !important;
}

.chunk {
  line-height: initial;
  display: inline-block;
}
