<div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around start">
  <div fxFlex.gt-lg="65" fxFlex="90" fxFlex.lt-md="100" fxLayout="row wrap" fxLayoutAlign="space-around start"
       class="dashboard" *ngIf="auth.user | async as user;else loading">
    <div fxFlex="22" fxFlex.lt-lg="95" fxLayout="row wrap" fxLayoutAlign="space-around start"
         class="profile" *ngIf="profile">
      <div class="avatar" [ngStyle]="{'background-image': 'url(' + (profile.avatar | storageUrl | async) + ')'}"></div>
      <div fxFlex="100" class="greetings mat-caption">Welcome back: {{user.displayName}}</div>
      <div fxFlex="100" class="ip mat-caption">
        <span>231.456.331.211</span>
        <mat-icon>info_outline</mat-icon>
      </div>
      <mat-progress-bar fxFlex="70" fxFlex.lt-md="90" mode="determinate" [value]="completedProfile"
                        color="primary"></mat-progress-bar>
      <div fxFlex="100" class="completion mat-caption">profile completed ({{completedProfile}}%)</div>
      <button fxFlex="70" fxFlex.lt-md="90" mat-button color="primary" [routerLink]="['profile']"> Edit
        Profile
      </button>
      <mat-divider fxFlex="70" fxFlex.lt-md="90"></mat-divider>
      <div fxFlex="100" class="mat-subheading-1 badges">Achievements</div>
      <div fxFlex="100" class="mat-subheading-1 badges">Earnings</div>
    </div>
    <div fxFlex="75" fxFlex.lt-lg="95" fxLayout="row wrap" fxLayoutAlign="space-around start" class="courses">
      <div appBlackRenderer content="Current Course" keyword="Current" class="active mat-headline"></div>
      <mat-divider fxFlex fxFlexAlign="center"></mat-divider>
      <div fxFlex="100" *ngIf="course; else no_current_course" class="current_course">
        <app-course [id]="course.id" [isDashboard]=true></app-course>
      </div>
      <ng-template #no_current_course>
        <div fxFlex="100" class="no-course">
          <span>You haven't started anything yet. Go to </span>
          <button routerLink="/courses" mat-flat-button color="primary">Courses</button>
          <span> and pick something.</span>
        </div>
      </ng-template>
      <ng-template [ngIf]="currentCourses.length">
        <div class="subheading mat-subheading-2">In Progress </div>
        <mat-divider fxFlex fxFlexAlign="center"></mat-divider>
        <div fxFlex="90" class="in_progress" *ngFor="let course of currentCourses">
          <div>
            <span class="name"><strong>{{course.name}}</strong></span>
            <span class="date"><strong>visited:</strong> {{course.info.updated_at | date: 'fullDate'}}</span>
            <button mat-icon-button (click)="navigate(course.id)"><mat-icon>arrow_circle_right</mat-icon></button>
          </div>
        </div>
      </ng-template>

      <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around start" *ngIf="completedCourses.length"
           class="previous subheading mat-subheading-2">
        <div appBlackRenderer content="Completed Courses" keyword="Completed"></div>
        <mat-divider fxFlex fxFlexAlign="center"></mat-divider>
        <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between center" class="course"
             *ngFor="let course of completedCourses">
          <div fxFlex="57" fxFlex.lt-md="100" class="name" (click)="navigate(course.id)">{{course.name}}</div>
          <div fxFlex="22" fxFlex.lt-md="50" fxLayout="row wrap" fxLayoutAlign="space-around center" (click)="navigate(course.id)">
            <div fxFlex="100" class="date"><span>{{course.info.updated_at|date:'MMM d, y'}}</span></div>
            <div fxFlex="100" class="score">Initial score: {{course.info.score}}</div>
          </div>
          <div fxFlex="20" fxFlex.lt-md="50" class="certified" (click)="verify(course.id)">
            <strong>CERTIFIED</strong>
            <mat-icon>verified_user</mat-icon>
          </div>
        </div>

        <ng-template #no_completed_course>
          <div fxFlex="100" class="no-course">
            <span>Completed courses/scores will be presented here </span>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <div class="loading" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around center">
      <mat-spinner color="primary"></mat-spinner>
    </div>
  </ng-template>
</div>
