.dashboard {
  margin: var(--space-xl) 0;

  .profile {
    text-align: center;
    margin-bottom: var(--space-lg);
    .avatar {
      background-size: cover;
      background-color: var(--color-greyd);
      height: var(--space-xxxl);
      width: var(--space-xxxl);
      border-radius: 5%;
      margin: 0 auto;
    }

    .greetings {
      margin: var(--space-xs) 0;
    }

    .ip {
      color: var(--color-grey8);
    }

    mat-progress-bar {
      margin-top: var(--space-md);
      margin-bottom: var(--space-xs);
    }

    button {
      margin: var(--space-md) 0;
    }

    mat-divider {
    }

    .badges {
      margin: var(--space-xs) 0;

    }

    .earnings {
    }
  }

  .courses {
    .active {
      font-weight: 100;
      text-align: end;
      padding-left: var(--space-xxxs);
    }
    .image {
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      height: 40vh;
      //@media screen and (min-width: 600px) and (max-width: 960px) {
      //  height: 55vh;
      //}
      //@media screen and (max-width: 599px) {
      //  height: 50vh;
      //}
    }


    .subheading {
      font-weight: 100;
      color: var(--color-grey5);
      letter-spacing: var(--space-xxxs);
    }
    .previous {

    }

    .bookmarks {

    }
  }
}

.loading {
  min-height: 50vh;
}
