<div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around start">
  <div fxFlex.gt-lg="65" fxFlex="80" fxFlex.lt-md="100" fxLayout="row wrap" fxLayoutAlign="space-around start" class="dashboard">
  <div fxFlex="30" fxFlex.lt-md="90" fxLayout="row wrap" fxLayoutAlign="space-around start" class="profile">
    <div fxFlex="100" class="avatar">avatar</div>
    <div fxFlex="100" class="greetings">Welcome back:</div>
    <div fxFlex="100" class="last-login">last-login:</div>
    <div fxFlex="100" class="ip">ip:</div>
    <button fxFlex="80" mat-flat-button> Edit Profile</button>
    <mat-divider fxFlex="90"></mat-divider>
    <div fxFlex="100" class="badges">Achievements:</div>
    <div fxFlex="100" class="earnings">Earnings:</div>
  </div>
  <div fxFlex="65" fxFlex.lt-md="90" fxLayout="row wrap" fxLayoutAlign="space-around start" class="courses">
    <div fxFlex="100" class="current">current</div>
    <div fxFlex="100" class="previous">previous</div>
    <div fxFlex="100" class="bookmarks">bookmarks</div>
  </div>
</div>
</div>
