.dashboard {
  margin: var(--space-xl) 0;

  .profile {
    text-align: center;
    margin-bottom: var(--space-lg);
    .avatar {
      background-size: cover;
      background-color: var(--color-greyd);
      height: var(--space-xxxl);
      width: var(--space-xxxl);
      @media screen and (min-width: 960px) and (max-width: 1280px) {
        height: var(--space-xxl);
        width: var(--space-xxl);
      }
      border-radius: 5%;
      margin: 0 auto;
    }

    .greetings {
      margin: var(--space-xs) 0;
    }

    .ip {
      color: var(--color-grey8);
      .mat-icon {
        vertical-align: middle;
        padding-left: var(--space-xxs);
      }
    }

    mat-progress-bar {
      margin-top: var(--space-md);
      margin-bottom: var(--space-xs);
    }

    button {
      margin: var(--space-md) 0;
    }

    mat-divider {
    }

    .badges {
      margin: var(--space-xs) 0;

    }

    .earnings {
    }
  }

  .courses {
    .active {
      font-weight: 100;
      text-align: end;
      padding-left: var(--space-xxxs);
    }

    .current_course {
      margin-bottom: var(--space-xl);
    }

    .image {
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      height: 40vh;
      //@media screen and (min-width: 600px) and (max-width: 960px) {
      //  height: 55vh;
      //}
      //@media screen and (max-width: 599px) {
      //  height: 50vh;
      //}
    }


    .subheading {
      font-weight: 100;
      color: var(--color-grey4);
      letter-spacing: var(--space-xxxs);
    }
    .in_progress {
      .name {

      }

      .date {
        margin-left: var(--space-sm);
        color: var(--color-grey9);
      }
    }

    .previous {
      margin-top: var(--space-xxl);
      .course {
        margin-top: var(--space-xs);
        font-weight: normal;
        letter-spacing: normal;
        padding: var(--space-sm);

        .date {
          text-align: center;
          font-size: 18px;
          span {
            max-width: 7em;
            border-radius: var(--space-xs);
            background-color: var(--color-primary-dark);
            color: var(--color-primary-light);
            padding: var(--space-xxs) var(--space-xs);
          }
          @media screen and (max-width: 960px){
            margin-top: var(--space-sm);
          }
        }
        .score {
          text-align: center;
          font-size: 20px;
          @media screen and (max-width: 960px){
            margin-top: var(--space-sm);
          }
        }
      }
      .course:hover {
        background-color: var(--color-accent-lightest);
        cursor: pointer;
      }
    }

    .no-course {
      text-align: center;
      margin: var(--space-xl) var(--space-md);
    }
  }
}

.loading {
  min-height: 50vh;
}
