@use "src/flex" as flex;

.text-image {
  @include flex.container(100%, space-between, center);
  .image {
    @include flex.width(100%);
    min-height: 14em;
    background-position: center;
    background-image: linear-gradient(
        145deg,
        var(--color-greye) 12.50%,
        var(--color-aquamarine-background) 12.50%,
        var(--color-aquamarine-background) 50%,
        var(--color-greye) 50%,
        var(--color-greye) 62.50%,
        var(--color-aquamarine-background) 62.50%,
        var(--color-aquamarine-background) 100%
    );
  }

  p {
    line-height: normal;
  }

  .full {
    @include flex.width(100%);
  }

  .small {
    @include flex.width(30%);
    @include flex.breakpoint(lt-md, 35%);
  }

  .big {
    @include flex.width(69%);
    @include flex.breakpoint(lt-md, 64%);
  }
}

