:root {
  /* colors */
  --color-primary: #054;
  --color-accent: #60a;
  --color-warn: #f50;
  --color-success: #00aa00;
  --color-error: #e32;
  --color-background-aquamarine: aquamarine;
  --color-background-aqua: aqua;

  --color-grey1: #111;
  --color-grey3: #333;
  --color-grey5: #555;
  --color-grey7: #777;
}
