:root {
  /* branding colors */
  --color-primary: #064;
  --color-primary-dark: #081808;
  --color-primary-light: #0a7;

  --color-accent: #70a;
  --color-accent-dark: #103;
  --color-accent-light: #b0f;

  --color-warn: #d60;
  --color-warn-dark: #210;
  --color-warn-light: #cb4;

  --color-aquamarine: aquamarine;
  --color-aquamarine-background: #f1f8f1;
  --color-aqua: aqua;

  --color-grey1: #111;
  --color-grey3: #333;
  --color-grey4: #444;
  --color-grey5: #555;
  --color-grey7: #777;
  --color-grey8: #888;
  --color-grey9: #999;
  --color-greyb: #bbb;
  --color-greyd: #ddd;
  --color-greye: #eee;
}
