$wtf-primary-palette: (
  50:  #dff2ec,
  100: #b2decf,
  200: #82c9b1,
  300: #51b393,
  400: #2fa37e,
  500: #13926b,
  600: #0f865f,
  700: #097651,
  800: #064,
  900: #004a2a,
  contrast: (
    50: rgba(black, 0.8),
    100: rgba(black, 0.88),
    200: rgba(black, 0.9),
    300: black,
    400: white,
    500: white,
    600: white,
    700: rgba(white, 0.9),
    800: rgba(white, 0.88),
    900: rgba(white, 0.8),
  )
);
$wtf-accent-palette: (
  50:  #f3e4f6,
  100: #e1bbe9,
  200: #cd8ddb,
  300: #b95fcd,
  400: #aa39c2,
  500: #9a01b7,
  600: #8b02b1,
  700: #70a,
  800: #6400a3,
  900: #3f0098,
  contrast: (
    50: rgba(black, 0.8),
    100: rgba(black, 0.88),
    200: rgba(black, 0.9),
    300: black,
    400: white,
    500: white,
    600: white,
    700: rgba(white, 0.9),
    800: rgba(white, 0.88),
    900: rgba(white, 0.8),
  )
);
$wtf-warn-palette: (
  50:  #fdf2e0,
  100: #f9ddb1,
  200: #f5c77e,
  300: #f2b14c,
  400: #f0a026,
  500: #ed9104,
  600: #e98502,
  700: #e37601,
  800: #d60,
  900: #d34e00,
  contrast: (
    50: rgba(black, 0.8),
    100: rgba(black, 0.88),
    200: rgba(black, 0.9),
    300: black,
    400: black,
    500: white,
    600: white,
    700: rgba(white, 0.9),
    800: rgba(white, 0.88),
    900: rgba(white, 0.8),
  )
);

:root {
  /* branding colors */
  --color-primary: #064;
  --color-primary-dark: #081808;
  --color-primary-light: #0a7;
  --color-primary-lighter: #c8ffe2;

  --color-accent: #70a;
  --color-accent-dark: #103;
  --color-accent-light: #d4f;
  --color-accent-lighter: #faf;
  --color-accent-lightest: #ffe8ff;

  --color-warn: #d60;
  --color-warn-dark: #320;
  --color-warn-light: #cb4;

  --color-aquamarine: aquamarine;
  --color-aquamarine-background: #f7faf7;
  --color-aqua: aqua;

  --color-grey1: #111;
  --color-grey2: #222;
  --color-grey3: #333;
  --color-grey4: #444;
  --color-grey5: #555;
  --color-grey6: #666;
  --color-grey7: #777;
  --color-grey8: #888;
  --color-grey9: #999;
  --color-greyb: #bbb;
  --color-greyc: #ccc;
  --color-greyd: #ddd;
  --color-greye: #eee;
}

