@use '@angular/material' as mat;

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Titillium+Web:wght@200;400;700;900&family=Ubuntu+Mono&display=swap');

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();
$dark-primary-text: var(--color-black);
$dark-secondary-text: var(--color-grey2);

$light-primary-text: var(--color-greyd);
$light-secondary-text: var(--color-grey9);

$my-palette: (
  300: var(--color-primary-light),
  400: var(--color-primary),
  500: var(--color-primary-dark),
  600: var(--color-warn-light),
  700: var(--color-warn),
  800: var(--color-warn-dark),
  A100: var(--color-accent-light),
  A200: var(--color-accent),
  A400: var(--color-accent-dark),
  contrast: (
    400: $dark-primary-text,
    500: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
  )
);
$my-primary: mat.define-palette($my-palette, 300, 400, 500);
$my-accent: mat.define-palette($my-palette, A200, A100, A400);
$my-warn: mat.define-palette($my-palette, 600, 700, 800);

$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  )
));

@include mat.all-legacy-component-themes($my-theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  background: var(--color-aquamarine-background);
  color: var(--color-grey3);
}

.loading {
  min-height: 80vh;
}

.title {
  font-weight: 200 !important;
  letter-spacing: var(--space-xxs) !important;
  color: var(--color-grey7);
}

.info {
  .mat-slide-toggle {
    color: var(--color-primary-light);

    .glow {
      padding: 0 var(--space-xs);
      color: var(--color-aqua);
      text-shadow: 0 0 4px var(--color-aqua),
      0 0 7px var(--color-aquamarine),
      0 0 15px var(--color-aquamarine),
    }
  }

  h2 {
    color: var(--color-primary-light);
    margin-top: 1.7rem;
    margin-bottom: 1rem;
  }

  .update {
    text-align: center;

    button {
      color: var(--color-aquamarine);
      display: block;
      margin: 1rem auto;
    }

    div {
      margin: 0.7rem 0;
      color: var(--color-aqua);

      span {
        font-weight: bolder;
        color: var(--color-primary-light);
      }

      p {
        padding-top: var(--space-sm);
        color: var(--color-grey5);
        font-size: smaller;
      }
    }
  }
}

.mat-form-field {
  width: 100%;
  margin: 0.77rem auto;
  background-color: var(--color-black);
  color: var(--color-primary-light);
  font-size: initial !important;
}

.mat-form-field-label {
  color: var(--color-primary);
}

.mat-tab-label-container {
  background-color: var(--color-grey2);
}

.mat-tab-label-content {
  color: var(--color-grey9);
}

.mat-select-value {
  color: var(--color-primary-light);
}

.mat-stepper-vertical {
  background-color: var(--color-grey2);
}

.mat-step-header .mat-step-label.mat-step-label-active {
  color: var(--color-primary-light);
}

.mat-step-header .mat-step-label.mat-step-label-selected {
  color: var(--color-aquamarine);
}

.mat-bottom-sheet-container {
  background-color: var(--color-accent-dark);
}

.check {
  cursor: pointer;
  color: var(--color-primary-light);
  margin-right: var(--space-xs);
}

.saving {
  letter-spacing: var(--space-xxs);
  color: var(--color-primary-dark);
}

.custom-button {
  cursor: pointer;
  color: var(--color-grey9);
}

.current-answer {
  margin-left: var(--space-xl);

  mat-icon {
    vertical-align: middle;
  }

  color: var(--color-aqua);
  letter-spacing: var(--space-xxs);
  font-size: smaller;
}

.blanks, mat-label {
  font-size: smaller;
  color: var(--color-accent-light);
}

@mixin save() {
  color: var(--color-primary-dark);
  font-size: 0.8rem;
  font-weight: bold;
  position: relative;
  animation: blinker 1s linear infinite;
}

.saving {
  @include save;
  bottom: 0.4rem;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.add {
  position: fixed !important;
  background-color: var(--color-primary-light) !important;
  right: var(--space-xl);
  bottom: var(--space-lg);
}

.black {
  font-weight: 900 !important;
}

.thin {
  font-weight: 100 !important;
}

ul {
  list-style-image: url('~src/assets/images/keyboard_arrow_right_black_24dp.svg');
}

.mat-list-item {
  font-family: 'Titillium Web', sans-serif !important;

  .name {
    color: var(--color-grey3);
  }

  .description {
    color: var(--color-grey8);
    font-size: 0.6em;
  }
}

.mat-list-item:hover {
  background-color: var(--color-greye);
  cursor: pointer;
}

::ng-deep .mat-list-item-content, ::ng-deep .mat-list-text {
  padding: 0 !important;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  font-weight: bold;
  color: var(--color-primary);
  text-decoration-style: dotted;
}

strong, em, a, .tooltip, .answer {
  letter-spacing: 0.5px;
  font-size: 19px;
}

h1 strong, h1 em, h2 strong, h2 em, h3 strong, h3 em, h4 strong, h4 em {
  font-size: inherit;
}

.response {
  a {
    font-weight: bold;
    color: var(--color-primary-lighter);
    text-decoration-style: dotted;
  }

  strong, em, a, .tooltip {
    letter-spacing: 0.5px;
    font-size: 16px;
  }

  p {
    padding: var(--space-sm) var(--space-xs) var(--space-xxs);
    font-size: 17px;
    line-height: normal;
  }

  .tooltip {
    color: var(--color-accent-lighter);
    font-weight: bold;
    text-decoration: underline wavy 1.2px var(--color-accent-light);
    position: relative;
    display: inline-block;
  }

  button {
    min-height: var(--space-lg) !important;
    float: right;

    .mat-icon {
      color: white !important;
    }
  }
}


.blank {
  width: 6rem;
  height: 1.77rem;
  background-color: var(--color-greye);
  border-radius: 2px;
  box-shadow: 0 0 6px 2px var(--color-greyb) inset;
  display: inline-block;
  vertical-align: top;
}

.answer {
  color: var(--color-primary-light);
  font-weight: bold;
}

.tooltip {
  color: var(--color-accent);
  font-weight: bold;
  text-decoration: underline wavy 1.2px var(--color-accent-light);
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-info {
  padding: var(--space-sm);
  border-radius: var(--space-xs);
  background-color: var(--color-accent-dark);
  color: var(--color-accent-light);
  font-family: 'Ubuntu Mono', monospace;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  //white-space: nowrap;
  min-width: 13em;
  text-align: center;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60%;
  opacity: 0;
  transition: opacity 0.2s;
}

.tooltip .tooltip-info::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 25%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltip-info {
  opacity: 1;
}

blockquote {
  font-family: "Ubuntu Mono", monospace;
  font-size: 21px;
  margin: 0;
  padding: var(--space-sm);
  background-color: var(--color-accent-lightest);
  border-radius: 4px;
  border-left: var(--space-xxs) solid var(--color-accent);
  color: var(--color-accent-dark);
}

blockquote p {
  margin-bottom: 4px !important;
}


.dialog .mat-dialog-container {
  .firebaseui-idp-password {
    background-color: var(--color-primary) !important;
  }
  .mdl-button--primary.mdl-button--primary {
    color: var(--color-primary) !important;
  }
  .mdl-button--raised.mdl-button--colored {
    background-color: var(--color-primary) !important;
  }

  .firebaseui-title {
    font-size: 34px;
  }

  .firebaseui-tos, .firebaseui-tospp-full-message {
    font-size: 15px;
  }

  .firebaseui-tos-list {
    text-align: left;
  }

  .firebaseui-card-footer ul {
    margin: 0 0 20px 0;
    a {
      font-size: 15px;
      color: var(--color-primary);
    }
  }

  .firebaseui-link, .firebaseui-tos-link {
    color: var(--color-primary);
    font-size: 15px;
    font-weight: bold;
  }
}
