@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Titillium+Web:wght@200;400;700;900&family=Ubuntu+Mono&display=swap');
// Define  a custom typography config
$font-slide: "'Delius', cursive";
$web: "'Titillium Web', sans-serif";
$mono: "'Ubuntu Mono', monospace";

$wtf-typography: mat.define-typography-config(
  $headline-1: mat.define-typography-level(132px, normal, 100, $web),
  $headline-2: mat.define-typography-level(96px, normal, 100, $web),
  $headline-3: mat.define-typography-level(72px, normal, 100, $web),
  $headline-4: mat.define-typography-level(60px, normal, 100, $web),
  $headline-5: mat.define-typography-level(48px, normal, 400, $web),
  $headline-6: mat.define-typography-level(36px, normal, 400, $web),
  $subtitle-1: mat.define-typography-level(24px, normal, 700, $web),
  $subtitle-2: mat.define-typography-level(22px, normal, 700, $web),
  $body-1:     mat.define-typography-level(20px, normal, 400, $web),
  $body-2:     mat.define-typography-level(18px, normal, 400, $web),
  $caption:    mat.define-typography-level(14px, normal, 400, $mono),
  $button:     mat.define-typography-level(inherit, normal, 400, $web, 1.125),
);
