@use '@angular/material' as mat;
@use 'colors' as colors;
@use 'typography' as typography;

@include mat.core();

$wtf-light-theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette(colors.$wtf-primary-palette, 800, 400, 900),
    accent: mat.define-palette(colors.$wtf-accent-palette, 700, 400, 900),
    warn: mat.define-palette(colors.$wtf-warn-palette, 800, 300, 900),
  ),
  typography: typography.$wtf-typography,
  density: 0,
));

$wtf-dark-theme: mat.define-dark-theme((
  color: (
    primary: mat.define-palette(colors.$wtf-primary-palette, 100, 50, 400),
    accent: mat.define-palette(colors.$wtf-accent-palette, 100, 50, 200),
    warn: mat.define-palette(colors.$wtf-warn-palette, 100, 50, 300),
  )
));


// Apply the light theme by default
@include mat.all-component-themes($wtf-light-theme);
@include mat.all-component-typographies($wtf-light-theme);
//@include mat.core-theme($wtf-light-theme);
//@include mat.button-theme($wtf-light-theme);

// Switch to light if user decides
@media (prefers-color-scheme: dark) {
  @include mat.all-component-themes($wtf-dark-theme);
  @include mat.all-component-typographies($wtf-dark-theme);
  //@include mat.core-theme($wtf-dark-theme);
  //@include mat.button-theme($wtf-dark-theme);
}
